In [1]:
import pandas as pd

In [3]:
A=pd.read_csv('C:/Users/cmscomputers/Downloads/Skype/Datasets/Cars93.csv')

In [4]:
A.head(3)

,id,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,1,Acura,Integra,Small,12.9,15.9,18.8,25,31,None,...,5,177,102,68,37,26.5,11.0,2705,non-USA,Acura Integra
1,2,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,...,5,195,115,71,38,30.0,15.0,3560,non-USA,Acura Legend
2,3,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,...,5,180,102,67,37,28.0,14.0,3375,non-USA,Audi 90

In [7]:
A.tail(3)

,id,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
90,91,Volkswagen,Corrado,Sporty,22.9,23.3,23.7,18,25,None,...,4,159,97,66,36,26.0,15.0,2810,non-USA,Volkswagen Corrado
91,92,Volvo,240,Compact,21.8,22.7,23.5,21,28,Driver only,...,5,190,104,67,37,29.5,14.0,2985,non-USA,Volvo 240
92,93,Volvo,850,Midsize,24.8,26.7,28.5,20,28,Driver & Passenger,...,5,184,105,69,38,30.0,15.0,3245,non-USA,Volvo 850

In [5]:
A.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 28 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  93 non-null     int64
 1   Manufacturer        93 non-null     object
 2   Model               93 non-null     object
 3   Type                93 non-null     object
 4   Min.Price           93 non-null     float64
 5   Price               93 non-null     float64
 6   Max.Price           93 non-null     float64
 7   MPG.city            93 non-null     int64
 8   MPG.highway         93 non-null     int64
 9   AirBags             89 non-null     object
 10  DriveTrain          93 non-null     object
 11  Cylinders           93 non-null     object
 12  EngineSize          93 non-null     float64
 13  Horsepower          93 non-null     int64
 14  RPM                 93 non-null     int64
 15  Rev.per.mile        93 non-null     int64
 16  Man.trans.avail     93 non-null     object
 17  Fuel.tank.capacity  93 non-null     float64
 18  Passengers          93 non-null     int64
 19  Length              93 non-null     int64
 20  Wheelbase           93 non-null     int64
 21  Width               93 non-null     int64
 22  Turn.circle         93 non-null     int64
 23  Rear.seat.room      91 non-null     float64
 24  Luggage.room        82 non-null     float64
 25  Weight              93 non-null     int64
 26  Origin              93 non-null     object
 27  Make                93 non-null     object
dtypes: float64(7), int64(12), object(9)
memory usage: 20.5+ KB

Specific column fetching

In [6]:
A[['Passengers','Model','Price']]

    Passengers    Model  Price
0            5  Integra   15.9
1            5   Legend   33.9
2            5       90   29.1
3            6      100   37.7
4            4     535i   30.0
..         ...      ...    ...
88           7  Eurovan   19.7
89           5   Passat   20.0
90           4  Corrado   23.3
91           5      240   22.7
92           5      850   26.7

[93 rows x 3 columns]

conditional Filtering

In [9]:
A[A.Type=='Compact']

,id,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
2,3,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,...,5,180,102,67,37,28.0,14.0,3375,non-USA,Audi 90
11,12,Chevrolet,Cavalier,Compact,8.5,13.4,18.3,25,36,None,...,5,182,101,66,38,25.0,13.0,2490,USA,Chevrolet Cavalier
12,13,Chevrolet,Corsica,Compact,11.4,11.4,11.4,25,34,Driver only,...,5,184,103,68,39,26.0,14.0,2785,USA,Chevrolet Corsica
20,21,Chrysler,LeBaron,Compact,14.5,15.8,17.1,23,28,Driver & Passenger,...,6,183,104,68,41,30.5,14.0,3085,USA,Chrysler LeBaron
24,25,Dodge,Spirit,Compact,11.9,13.3,14.7,22,27,Driver only,...,6,181,104,68,39,30.5,14.0,2970,USA,Dodge Spirit
32,33,Ford,Tempo,Compact,10.4,11.3,12.2,22,27,None,...,5,177,100,68,39,27.5,13.0,2690,USA,Ford Tempo
42,43,Honda,Accord,Compact,13.8,17.5,21.2,24,31,Driver & Passenger,...,4,185,107,67,41,28.0,14.0,3040,non-USA,Honda Accord
54,55,Mazda,626,Compact,14.3,16.5,18.7,26,34,Driver only,...,5,184,103,69,40,29.5,14.0,2970,non-USA,Mazda 626
57,58,Mercedes-Benz,190E,Compact,29.0,31.9,34.9,20,29,Driver only,...,5,175,105,67,34,26.0,12.0,2920,non-USA,Mercedes-Benz 190E
64,65,Nissan,Altima,Compact,13.0,15.7,18.3,24,30,Driver only,...,5,181,103,67,40,28.5,14.0,3050,non-USA,Nissan Altima
67,68,Oldsmobile,Achieva,Compact,13.0,13.5,14.0,24,31,None,...,5,188,103,67,39,28.0,14.0,2910,USA,Oldsmobile Achieva
73,74,Pontiac,Sunbird,Compact,9.4,11.1,12.8,23,31,None,...,5,181,101,66,39,25.0,13.0,2575,USA,Pontiac Sunbird
77,78,Saab,900,Compact,20.3,28.7,37.1,20,26,Driver only,...,5,184,99,67,37,26.5,14.0,2775,non-USA,Saab 900
81,82,Subaru,Legacy,Compact,16.3,19.5,22.7,23,30,Driver only,...,5,179,102,67,37,27.0,14.0,3085,non-USA,Subaru Legacy
89,90,Volkswagen,Passat,Compact,17.6,20.0,22.4,21,30,None,...,5,180,103,67,35,31.5,14.0,2985,non-USA,Volkswagen Passat
91,92,Volvo,240,Compact,21.8,22.7,23.5,21,28,Driver only,...,5,190,104,67,37,29.5,14.0,2985,non-USA,Volvo 240

In [11]:
A[A.Type=='Sporty']

,id,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
13,14,Chevrolet,Camaro,Sporty,13.4,15.1,16.8,19,28,Driver & Passenger,...,4,193,101,74,43,25.0,13.0,3240,USA,Chevrolet Camaro
18,19,Chevrolet,Corvette,Sporty,34.6,38.0,41.5,17,25,Driver only,...,2,179,96,74,43,NaN,NaN,3380,USA,Chevrolet Corvette
27,28,Dodge,Stealth,Sporty,18.5,25.8,33.1,18,24,Driver only,...,4,180,97,72,40,20.0,11.0,3805,USA,Dodge Stealth
33,34,Ford,Mustang,Sporty,10.8,15.9,21.0,22,29,Driver only,...,4,180,101,68,40,24.0,12.0,2850,USA,Ford Mustang
34,35,Ford,Probe,Sporty,12.8,14.0,15.2,24,30,Driver only,...,4,179,103,70,38,23.0,18.0,2710,USA,Ford Probe
39,40,Geo,Storm,Sporty,11.5,12.5,13.5,30,36,Driver only,...,4,164,97,67,37,24.5,11.0,2475,non-USA,Geo Storm
40,41,Honda,Prelude,Sporty,17.0,19.8,22.7,24,31,Driver & Passenger,...,4,175,100,70,39,23.5,8.0,2865,non-USA,Honda Prelude
45,46,Hyundai,Scoupe,Sporty,9.1,10.0,11.0,26,34,NaN,...,4,166,94,64,34,23.5,9.0,2285,non-USA,Hyundai Scoupe
56,57,Mazda,RX-7,Sporty,32.5,32.5,32.5,17,25,Driver only,...,2,169,96,69,37,NaN,NaN,2895,non-USA,Mazda RX-7
59,60,Mercury,Capri,Sporty,13.3,14.1,15.0,23,26,Driver only,...,4,166,95,65,36,19.0,6.0,2450,USA,Mercury Capri
71,72,Plymouth,Laser,Sporty,11.4,14.4,17.4,23,30,None,...,4,173,97,67,39,24.5,8.0,2640,USA,Plymouth Laser
74,75,Pontiac,Firebird,Sporty,14.0,17.7,21.4,19,28,Driver & Passenger,...,4,196,101,75,43,25.0,13.0,3240,USA,Pontiac Firebird
84,85,Toyota,Celica,Sporty,14.2,18.4,22.6,25,32,Driver only,...,4,174,99,69,39,23.0,13.0,2950,non-USA,Toyota Celica
90,91,Volkswagen,Corrado,Sporty,22.9,23.3,23.7,18,25,None,...,4,159,97,66,36,26.0,15.0,2810,non-USA,Volkswagen Corrado

In [15]:
A[A.Manufacturer=='Ford']

,id,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
30,31,Ford,Festiva,Small,6.9,7.4,7.9,31,33,None,...,4,141,90,63,33,26.0,12.0,1845,USA,Ford Festiva
31,32,Ford,Escort,Small,8.4,10.1,11.9,23,30,None,...,5,171,98,67,36,28.0,12.0,2530,USA,Ford Escort
32,33,Ford,Tempo,Compact,10.4,11.3,12.2,22,27,None,...,5,177,100,68,39,27.5,13.0,2690,USA,Ford Tempo
33,34,Ford,Mustang,Sporty,10.8,15.9,21.0,22,29,Driver only,...,4,180,101,68,40,24.0,12.0,2850,USA,Ford Mustang
34,35,Ford,Probe,Sporty,12.8,14.0,15.2,24,30,Driver only,...,4,179,103,70,38,23.0,18.0,2710,USA,Ford Probe
35,36,Ford,Aerostar,Van,14.5,19.9,25.3,15,20,Driver only,...,7,176,119,72,45,30.0,NaN,3735,USA,Ford Aerostar
36,37,Ford,Taurus,Midsize,15.6,20.2,24.8,21,30,Driver only,...,5,192,106,71,40,27.5,18.0,3325,USA,Ford Taurus
37,38,Ford,Crown_Victoria,Large,20.1,20.9,21.7,18,26,Driver only,...,6,212,114,78,43,30.0,21.0,3950,USA,Ford Crown_Victoria

Cars with length more than 150

In [19]:
A[A.Length >200].sort_values(by='Length')

,id,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
70,71,Oldsmobile,Eighty-Eight,Large,19.5,20.7,21.9,19,28,Driver only,...,6,201,111,74,42,31.5,17.0,3470,USA,Oldsmobile Eighty-Eight
29,30,Eagle,Vision,Large,17.5,19.3,21.2,20,28,Driver & Passenger,...,6,202,113,74,40,30.0,15.0,3490,USA,Eagle Vision
19,20,Chrylser,Concorde,Large,18.4,18.4,18.4,20,28,Driver & Passenger,...,6,203,113,74,40,31.0,15.0,3515,USA,Chrylser Concorde
21,22,Chrysler,Imperial,Large,29.5,29.5,29.5,20,26,NaN,...,6,203,110,69,44,36.0,17.0,3570,USA,Chrysler Imperial
10,11,Cadillac,Seville,Midsize,37.5,40.1,42.7,16,25,Driver & Passenger,...,5,204,111,74,44,31.0,14.0,3935,USA,Cadillac Seville
50,51,Lincoln,Continental,Midsize,33.3,34.3,35.3,17,26,Driver & Passenger,...,6,205,109,73,42,30.0,19.0,3695,USA,Lincoln Continental
9,10,Cadillac,DeVille,Large,33.0,34.7,36.3,16,25,Driver only,...,6,206,114,73,43,35.0,18.0,3620,USA,Cadillac DeVille
37,38,Ford,Crown_Victoria,Large,20.1,20.9,21.7,18,26,Driver only,...,6,212,114,78,43,30.0,21.0,3950,USA,Ford Crown_Victoria
17,18,Chevrolet,Caprice,Large,18.0,18.8,19.6,17,26,Driver only,...,6,214,116,77,42,29.5,20.0,3910,USA,Chevrolet Caprice
7,8,Buick,Roadmaster,Large,22.6,23.7,24.9,16,25,Driver only,...,6,216,116,78,45,30.5,21.0,4105,USA,Buick Roadmaster
51,52,Lincoln,Town_Car,Large,34.4,36.1,37.8,18,26,NaN,...,6,219,117,77,45,31.5,22.0,4055,USA,Lincoln Town_Car

Cars of Lincoln and price more than 30

In [27]:
A[(A.Manufacturer=='Lincoln') & (A.Price>30)]

,id,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
50,51,Lincoln,Continental,Midsize,33.3,34.3,35.3,17,26,Driver & Passenger,...,6,205,109,73,42,30.0,19.0,3695,USA,Lincoln Continental
51,52,Lincoln,Town_Car,Large,34.4,36.1,37.8,18,26,NaN,...,6,219,117,77,45,31.5,22.0,4055,USA,Lincoln Town_Car

Aggregate functions

In [30]:
A.Price.max()

61.9

In [31]:
A.Length.min()

141

In [33]:
A.Length.mean()

183.20430107526883

In [34]:
A.Price.sum()

1814.4

Grouping

In [38]:
A.groupby(by='Manufacturer').Price.min()

Manufacturer
Acura            15.9
Audi             29.1
BMW              30.0
Buick            15.7
Cadillac         34.7
Chevrolet        11.4
Chrylser         18.4
Chrysler         15.8
Dodge             9.2
Eagle            12.2
Ford              7.4
Geo               8.4
Honda            12.1
Hyundai           8.0
Infiniti         47.9
Lexus            28.0
Lincoln          34.3
Mazda             8.3
Mercedes-Benz    31.9
Mercury          14.1
Mitsubishi       10.3
Nissan           11.8
Oldsmobile       13.5
Plymouth         14.4
Pontiac           9.0
Saab             28.7
Saturn           11.1
Subaru            8.4
Suzuki            8.6
Toyota            9.8
Volkswagen        9.1
Volvo            22.7
Name: Price, dtype: float64

In [40]:
A.groupby(by='Model').Price.max()

Model
100         37.7
190E        31.9
240         22.7
300E        61.9
323          8.3
            ...
Taurus      20.2
Tempo       11.3
Tercel       9.8
Town_Car    36.1
Vision      19.3
Name: Price, Length: 93, dtype: float64

In [41]:
A.groupby(by='Type').Wheelbase.max()

Type
Compact    107
Large      117
Midsize    115
Small      103
Sporty     103
Van        119
Name: Wheelbase, dtype: int64

In [43]:
A[['Fuel.tank.capacity']]

    Fuel.tank.capacity
0                 13.2
1                 18.0
2                 16.9
3                 21.1
4                 21.1
..                 ...
88                21.1
89                18.5
90                18.5
91                15.8
92                19.3

[93 rows x 1 columns]